.icon-130 {
  width: 130px;
  height: 130px;
}

.icon-115 {
  width: 115px;
  height: 115px;
}

.icon-50 {
  width: 50px;
  height: 50px;
}

.icon-40 {
  width: 40px;
  height: 40px;
}

.icon-30 {
  width: 30px;
  height: 30px;
}

.icon-24 {
  width: 24px;
  height: 24px;
}

.icon-18 {
  width: 18px;
  height: 18px;
}

.icon-14 {
  width: 14px;
  height: 7px;
}

