.menuWeekList {
  /* display: flex; */
  flex-direction: column;
}

.menuWeekBtn {
  padding: 19px 15px;
  display: flex;
  width: 100%;
  border-top: 1px solid var(--grayDE);
  border-bottom: 1px solid var(--grayDE);
  background-color: var(--grayF4);
}

.menuWeekBtn.dark {
  background-color: #262626;
}
