.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}

.leftMiddleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  max-width: 296px;
  width: 100%;
}




