.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}

.leftMiddleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  max-width: 296px;
  width: 100%;
}


@media (max-width: 1366px) {
  .leftMiddleWrapper {
    flex-direction: row;
    max-width: 100%;
    gap: 30px;
  }
}


@media (max-width: 576px) {
  .leftMiddleWrapper {
    flex-direction: column;
  }
}


