.timerTask {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  padding: 19px 40px;
  background-color: var(--grayC4);
}

.timerTask.dark {
  background-color: hsl(0deg 0% 24.1%);
}

.bgRed {
  background-color: var(--red);
}
