.timerTask {
  padding: 19px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  background-color: var(--grayC4);
}

.timerTask.dark {
  background-color: hsl(0deg 0% 24.1%);
}

.bgRed {
  background-color: var(--red);
}

.timerTask > div:first-child {
  word-wrap: break-word;
  max-width: 60%;
}

@media (max-width: 756px) {
  .timerTask {
	  padding: 10px 20px;
  }
}
