.middle {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  /* max-height: 470px; */
}

.middle >  canvas {
  max-width: 952px;
  background-color: var(--grayF4);
}


@media (max-width: 1366px) {
  .middle {
    flex-direction: column;
  }
}
