.tomatoStatistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  background-color: var(--grayF4);
}


.tomatoStatistics svg {
  width: 81px;
  height: 81px;
}

.tomatoCount {
  padding: 9px 78px;
  background-color: var(--red);
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}
